body {
    font-family: Arial, sans-serif;
  }
  
  header {
    display: flex;
    align-items: baseline;
    background-color: #333;
    justify-content: space-between;
    padding: 10px;
    color: rgb(27, 229, 229);

  }
  
  header h1 {
    font-size: 300%;
    background-color: rgb(27, 229, 229);
    color: #333;
    font-family: Helvetica;
  } 

  
  nav {
    display: flex;
    justify-content: right;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    align-items: right;
    font-size: 100%;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: rgb(27, 229, 229);
    text-decoration: underline rgb(27, 229, 229);
  }